rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    match /producao/{document=**} {
      allow read: if true;
      allow write: if false;
    }

    match /producao_competencias/{document=**} {
      allow read: if true;
      allow write: if false;
    }

    match /calculo_metas/{document=**} {
      allow read: if true;
      allow write: if false;
    }
  }
}
